@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Roboto");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar en produccion */
body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(../img/bg.jpg);
  overflow-x: hidden;
}

.vintalight {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 50px 0;
  overflow: hidden;
}

.vintalight__container {
  position: relative;
  width: 50%;
  max-width: 10.5em;
  height: 12.25em;
  background-color: #fff;
  font-size: 30px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s, margin 0.5s;
}

@media screen and (max-width: 500px) {
  .vintalight__container {
    max-width: 7.35em;
    height: 8.575em;
  }
}

.vintalight__container:nth-child(1) {
  transform: translate(40px, 30px) rotate(-30deg);
  z-index: 40;
}

.vintalight__container:nth-child(1):hover {
  transform: scale(1.15) translate(40px, 30px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(1) {
    transform: translate(0) rotate(-30deg);
  }

  .vintalight__container:nth-child(1):hover {
    transform: translate(0) rotate(-30deg);
  }
}

.vintalight__container:nth-child(2) {
  transform: translate(30px, 20px) rotate(7deg);
  z-index: 50;
}

.vintalight__container:nth-child(2):hover {
  transform: scale(1.15) translate(30px, 20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(2) {
    transform: translate(0) rotate(7deg);
  }

  .vintalight__container:nth-child(2):hover {
    transform: translate(0) rotate(7deg);
  }
}

.vintalight__container:nth-child(3) {
  transform: translate(-20px, 20px) rotate(20deg);
  z-index: 40;
}

.vintalight__container:nth-child(3):hover {
  transform: scale(1.15) translate(-20px, 20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(3) {
    transform: translate(0) rotate(20deg);
  }

  .vintalight__container:nth-child(3):hover {
    transform: translate(0) rotate(20deg);
  }
}

.vintalight__container:nth-child(4) {
  transform: translate(40px, -10px) rotate(10deg);
  z-index: 30;
}

.vintalight__container:nth-child(4):hover {
  transform: scale(1.15) translate(40px, -10px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(4) {
    transform: translate(0) rotate(10deg);
  }

  .vintalight__container:nth-child(4):hover {
    transform: translate(0) rotate(10deg);
  }
}

.vintalight__container:nth-child(5) {
  transform: translate(30px, -20px) rotate(-20deg);
  z-index: 20;
}

.vintalight__container:nth-child(5):hover {
  transform: scale(1.15) translate(30px, -20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(5) {
    transform: translate(0) rotate(-20deg);
  }

  .vintalight__container:nth-child(5):hover {
    transform: translate(0) rotate(-20deg);
  }
}

.vintalight__container:nth-child(6) {
  transform: translate(30px, -40px) rotate(-10deg);
  z-index: 40;
}

.vintalight__container:nth-child(6):hover {
  transform: scale(1.15) translate(30px, -40px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(6) {
    transform: translate(0) rotate(-10deg);
  }

  .vintalight__container:nth-child(6):hover {
    transform: translate(0) rotate(-10deg);
  }
}

.vintalight__container:nth-child(7) {
  transform: translate(40px, 30px) rotate(-30deg);
  z-index: 40;
}

.vintalight__container:nth-child(7):hover {
  transform: scale(1.15) translate(40px, 30px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(7) {
    transform: translate(0) rotate(-30deg);
  }

  .vintalight__container:nth-child(7):hover {
    transform: translate(0) rotate(-30deg);
  }
}

.vintalight__container:nth-child(8) {
  transform: translate(30px, 20px) rotate(7deg);
  z-index: 50;
}

.vintalight__container:nth-child(8):hover {
  transform: scale(1.15) translate(30px, 20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(8) {
    transform: translate(0) rotate(7deg);
  }

  .vintalight__container:nth-child(8):hover {
    transform: translate(0) rotate(7deg);
  }
}

.vintalight__container:nth-child(9) {
  transform: translate(-20px, 20px) rotate(20deg);
  z-index: 40;
}

.vintalight__container:nth-child(9):hover {
  transform: scale(1.15) translate(-20px, 20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(9) {
    transform: translate(0) rotate(20deg);
  }

  .vintalight__container:nth-child(9):hover {
    transform: translate(0) rotate(20deg);
  }
}

.vintalight__container:nth-child(10) {
  transform: translate(40px, -10px) rotate(10deg);
  z-index: 30;
}

.vintalight__container:nth-child(10):hover {
  transform: scale(1.15) translate(40px, -10px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(10) {
    transform: translate(0) rotate(10deg);
  }

  .vintalight__container:nth-child(10):hover {
    transform: translate(0) rotate(10deg);
  }
}

.vintalight__container:nth-child(11) {
  transform: translate(30px, -20px) rotate(-20deg);
  z-index: 20;
}

.vintalight__container:nth-child(11):hover {
  transform: scale(1.15) translate(30px, -20px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(11) {
    transform: translate(0) rotate(-20deg);
  }

  .vintalight__container:nth-child(11):hover {
    transform: translate(0) rotate(-20deg);
  }
}

.vintalight__container:nth-child(12) {
  transform: translate(30px, -40px) rotate(-10deg);
  z-index: 40;
}

.vintalight__container:nth-child(12):hover {
  transform: scale(1.15) translate(30px, -40px) rotate(0);
}

@media screen and (max-width: 700px) {
  .vintalight__container:nth-child(12) {
    transform: translate(0) rotate(-10deg);
  }

  .vintalight__container:nth-child(12):hover {
    transform: translate(0) rotate(-10deg);
  }
}

.vintalight__container:hover {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* @media screen and (max-width: 700px) {
  .vintalight__container:hover {
    margin: 0 25px;
  }
} */

.vintalight__container:hover .vintalight__photo::before {
  transform: scale(1);
}

.vintalight__container.active,
.vintalight__container.active:hover {
  transform: rotate(0) scale(1.25);
}

@media screen and (max-width: 500px) {

  .vintalight__container.active,
  .vintalight__container.active:hover {
    transform: rotate(0) scale(1.7);
  }
}

.vintalight__container.active {
  position: relative;
}

.vintalight__container.active .vintalight__photo {
  cursor: default;
}

.vintalight__container.active .vintalight__photo::before {
  display: none;
}

.vintalight__photo {
  position: relative;
  width: 9.25em;
  height: 9.25em;
  margin: 0.625em auto 0;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .vintalight__photo {
    width: 6.475em;
    height: 6.475em;
    margin: 0.4375em auto 0;
  }
}

.vintalight__photo::before {
  content: "Look at a Picture";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  transform: scale(0);
  transition: all 0.25s;
}

.vintalight__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vintalight__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.375em;
}

@media screen and (max-width: 500px) {
  .vintalight__caption {
    height: 1.6625em;
  }
}

.vintalight__text {
  color: #222;
  font-size: 1em;
  font-family: "Nanum Pen Script", cursive;
}

.vintalight-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: 10000;
  transition: opacity 0.5s;
}

.vintalight-overlay.active {
  opacity: 1;
}

.vintalight__button {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #f53d3d;
  border: 3px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  cursor: pointer;
}


.logo-wrapper {
  width: 100%;
  height: 50vh;
  text-align: center;
  position: relative;
}

@media screen and (max-width :700px) {
  .logo-wrapper {
      width: 100%;
      height: 30vh;
      text-align: center;
      position: relative;
    }
}

.penlogo {
  width: 35vw;
  position: absolute;
  top: 20%;
  left: 15%;
  transform: rotate(10deg);
}

@media screen and (max-width:700px) {
  .penlogo {
      width: 50vw;
      position: absolute;
      top: 30%;
      left: 5%;
      transform: rotate(10deg);
    }
}

.so-ta {
  width: 35vw;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: rotate(10deg);
}

.logo-wrapper > .logo {
  width: 55vw;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-wrapper > .vintalight__container {
  width: 55vw;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .logo-wrapper>.logo {
      width: 80vw;
      position: absolute;
      top: 85%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}

.pushpin {
  position: absolute;
  width: 4vw;
  z-index: 10;
  top: 7%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title__text {
  color: #222;
  font-size: 3em;
  font-family: "Nanum Pen Script", cursive;
  text-align: center;
}

.start {
  width: 100%;
  background-image: url(../img/open-bg.jpg);
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9000;
  text-align: center;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}

.start img {
  width: 100%;
}
